<mat-card>
    <mat-card-title  class = "mat-elevation-z5">NEW GUIDE</mat-card-title>
        <form [formGroup]="guideForm" autocomplete="off" novalidate (ngSubmit)="onSubmit(guideForm.value)">       
            <mat-card-content class = "form-container mat-elevation-z5">

                <mat-form-field>
                    <input matInput placeholder="Name" formControlName="name">
                </mat-form-field>
            
                <mat-form-field>
                    <textarea matInput placeholder="Description" formControlName="description"></textarea>
                </mat-form-field>

                <button mat-raised-button color="primary" mat-icon-button>SAVE</button>
                
            </mat-card-content>
        </form>

  </mat-card>
