<mat-toolbar class = "mat-elevation-z8" color="primary">
      
      <button mat-icon-button (click) = "goToMyGuides()">
            <mat-icon>menu</mat-icon>
      </button>
      
      <button mat-icon-button (click) = "goToNewGuide()">
            <mat-icon>add</mat-icon>
      </button>
  

      <img class= "logo" src="../../assets/images/logo.png" alt="logo" (click) = "goToHome()">
      
      <button mat-icon-button (click) = "goToInfo()">
            <mat-icon>help_outline</mat-icon>
      </button>
      
      <button mat-icon-button (click) = "goToSearchGuides()">
            <mat-icon>search</mat-icon>
      </button>
  
</mat-toolbar>
